* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

body {
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  background-color: #25282a;
  color: #ffffff;
  font-family: 'Jura', sans-serif;
  font-size: 2em;
 }
 
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;  
} 

h1 {
  font-size: 1.5em;
}

.wrapper {
  display: flex;
  width: 80%; 
  margin: 0 auto;
}

.container-slider {
  overflow: hidden;
}

input {
  display: none;
}

.slider {
  width: 500%;
  display: flex;
  overflow: hidden;
  transition: 0.5s;
}

#slide-1:checked ~ .slider {
  transform: translateX(0%);
}
#slide-2:checked ~ .slider {
  transform: translateX(-20%);
}
#slide-3:checked ~ .slider {
  transform: translateX(-40%);
}
#slide-4:checked ~ .slider {
  transform: translateX(-60%);
}
#slide-5:checked ~ .slider {
  transform: translateX(-80%);
}

img {
  max-width: 100%; 
}

.container-slider__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
}

.container-slider__descr {
  display: flex; 
  transition: 0.8s; 
}

span {
  min-width: 120%;
}

#slide-1:checked ~ .container-slider__items .container-slider__descr {
  transform: translateX(0%);
}
#slide-2:checked ~ .container-slider__items .container-slider__descr {
  transform: translateX(-120%);  
}
#slide-3:checked ~ .container-slider__items .container-slider__descr {
  transform: translateX(-240%);
}
#slide-4:checked ~ .container-slider__items .container-slider__descr {
  transform: translateX(-360%);
}
#slide-5:checked ~ .container-slider__items .container-slider__descr {
  transform: translateX(-480%);
}

.container-slider__nav { 
  display: flex;
  height: 1.2em;
  align-items: center;  
  gap: 0.6em; 
  background-color: #25282a;
  z-index: 1;
}

.slider-nav {
  width: 0.6em;
  height: 0.6em;
  background-color: #6ea3ca;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #6ea3ca; 
  transition: 0.4s;
}

.slider-nav:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff; 
}

#slide-1:checked ~ .container-slider__items .container-slider__nav .slide-1,
#slide-2:checked ~ .container-slider__items .container-slider__nav .slide-2,
#slide-3:checked ~ .container-slider__items .container-slider__nav .slide-3,
#slide-4:checked ~ .container-slider__items .container-slider__nav .slide-4,
#slide-5:checked ~ .container-slider__items .container-slider__nav .slide-5 {
  background-color: #25282a;
}

label > div {
  transform: translate(-30%, -30%);
  width: 40px;
  height: 40px;
}

.footer__data {
  display: flex;
  gap: 20px;
  flex-direction: row;
  font-size: 0.8em;
}

.footer__link {
  text-decoration: none;
  
  color: #ffffff;
}

.footer__link:hover  {
  color: #6ea3ca;
}